# Python Advanced - Dag 3

### OO

In [99]:
class Person:

    # Initiatisatie van Attributes
    def __init__(self, name, residence = 'Ergens'):
        self.name = name
        self.residence = residence

    # special methods
    def __repr__(self):
        return f'Person("{self.name}", "{self.residence}")'

    def __str__(self):
        return f'Person: {self.name} - {self.residence}'

    # methods
    def tell(self):
        return f'Ik ben {self.name} en ik woon in {self.residence}.'

    def move(self, new_residence):
        self.residence = new_residence
        return self

In [100]:
# Instantiation
person = Person('Peter')

In [101]:
print(type(person))

<class '__main__.Person'>

In [102]:
person.name

'Peter'

In [103]:
person.residence

'Ergens'

In [104]:
person.tell()

'Ik ben Peter en ik woon in Ergens.'

In [105]:
person.move('Den Haag')

Person("Peter", "Den Haag")

In [106]:
person.tell()

'Ik ben Peter en ik woon in Den Haag.'

In [107]:
Person.tell(person)

'Ik ben Peter en ik woon in Den Haag.'

In [108]:
person

Person("Peter", "Den Haag")

In [109]:
print(person)

Person: Peter - Den Haag

In [110]:
print(str(person))
print(repr(person))

Person: Peter - Den Haag
Person("Peter", "Den Haag")

In [115]:
print( person.move('Delft').tell().upper().split() )

['IK', 'BEN', 'PETER', 'EN', 'IK', 'WOON', 'IN', 'DELFT.']

### BankAccount class

In [135]:
class BankAccount:

    def __init__(self, account_number: str, holder: str, *, balance: int|float = 0.0):
        self._account_number = account_number
        self._holder = holder
        self._balance = balance

    def deposit(self, amount):
        self._balance += amount
        return self
        
    def withdraw(self, amount):
        self._balance -= amount
        return self

    def info(self):
        return f'Account {self._account_number} belongs to {self._holder} has a balance of {self._balance}'

In [136]:
acc1 = BankAccount('NL99ABCD0123487654', 'Peter', balance=100)

print(acc1.info())

acc1.deposit(1000)
acc1.withdraw(21)
acc1.withdraw(87)
acc1.withdraw(210)
acc1.deposit(150)

print(acc1.info())

Account NL99ABCD0123487654 belongs to Peter has a balance of 100
Account NL99ABCD0123487654 belongs to Peter has a balance of 932

In [137]:
acc1.deposit(1000).withdraw(10).withdraw(56).info()

'Account NL99ABCD0123487654 belongs to Peter has a balance of 1866'

### Class Vector

In [164]:
import math

class Vector:

    def __init__(self, x, y):
        self._x = x
        self._y = y

    def __repr__(self):
        return f'[{self._x}, {self._y}]'

    def __add__(self, other):
        return Vector(self._x + other._x, self._y + other._y)

    def length(self):
        return math.sqrt(self._x ** 2 + self._y ** 2)

In [155]:
v1 = Vector(4, 6)
v2 = Vector(3, 2)

v3 = v1 + v2

In [156]:
print(v1)
print(v2)
print(v3)

[4, 6]
[3, 2]
[7, 8]

In [157]:
876 + 876

1752

In [158]:
'abc' + 'xyz'

'abcxyz'

In [159]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [160]:
v1 + v2

[7, 8]

In [163]:
v1 > v2

TypeError: '>' not supported between instances of 'Vector' and 'Vector'

In [1]:
from vectors import Vector

In [5]:
v1 = Vector(2,3)
v2 = Vector(4,3)

In [6]:
v1 + v1

[4, 6]

In [10]:
v1 < v2

True

In [8]:
v1.length()

3.605551275463989

In [9]:
v2.length()

5.0

In [11]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Requests

In [1]:
d = {"coord":{"lon":-74.006,"lat":40.7143},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"base":"stations","main":{"temp":4.55,"feels_like":1.56,"temp_min":1.8,"temp_max":6.23,"pressure":1017,"humidity":72,"sea_level":1017,"grnd_level":1015},"visibility":10000,"wind":{"speed":3.58,"deg":310,"gust":4.92},"clouds":{"all":75},"dt":1732703694,"sys":{"type":2,"id":2037026,"country":"US","sunrise":1732708633,"sunset":1732743050},"timezone":-18000,"id":5128581,"name":"New York","cod":200}

In [11]:
from pprint import pprint

pprint(d)

{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 40.7143, 'lon': -74.006},
 'dt': 1732703694,
 'id': 5128581,
 'main': {'feels_like': 1.56,
          'grnd_level': 1015,
          'humidity': 72,
          'pressure': 1017,
          'sea_level': 1017,
          'temp': 4.55,
          'temp_max': 6.23,
          'temp_min': 1.8},
 'name': 'New York',
 'sys': {'country': 'US',
         'id': 2037026,
         'sunrise': 1732708633,
         'sunset': 1732743050,
         'type': 2},
 'timezone': -18000,
 'visibility': 10000,
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 310, 'gust': 4.92, 'speed': 3.58}}

In [7]:
temperature = d['main']['temp']

In [10]:
print(f'Het is nu {temperature:.0f}° in New York')

Het is nu 5° in New York

In [14]:
d['weather'][0]['main']

'Clouds'

In [17]:
import requests

In [34]:
city = 'Kathmandu'

url = "http://api.openweathermap.org/data/2.5/weather"
url += "?appid=d1526a9039658a6f76950cff21823aff"
url += "&units=metric"
url += "&mode=json"
url += "&q=" + city

print(url)

http://api.openweathermap.org/data/2.5/weather?appid=d1526a9039658a6f76950cff21823aff&units=metric&mode=json&q=Kathmandu

In [35]:
r = requests.get(url)

In [36]:
type(r)

requests.models.Response

In [37]:
r.status_code

200

In [39]:
d = r.json()

In [42]:
pprint(d)

{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 27.7167, 'lon': 85.3167},
 'dt': 1732705228,
 'id': 1283240,
 'main': {'feels_like': 16.53,
          'grnd_level': 851,
          'humidity': 63,
          'pressure': 1014,
          'sea_level': 1014,
          'temp': 17.12,
          'temp_max': 17.12,
          'temp_min': 17.12},
 'name': 'Kathmandu',
 'sys': {'country': 'NP',
         'id': 9201,
         'sunrise': 1732668565,
         'sunset': 1732706625,
         'type': 1},
 'timezone': 20700,
 'visibility': 5000,
 'weather': [{'description': 'haze', 'icon': '50d', 'id': 721, 'main': 'Haze'}],
 'wind': {'deg': 270, 'speed': 3.6}}

In [40]:
temperature = d['main']['temp']

In [41]:
temperature

17.12

### Pandas

In [44]:
import pandas as pd

In [62]:
filename = 'ca-500.csv'

filename = r'/Users/peter/Computrain/_InCompany/Ministerie van Buitenlandse Zaken/Sandbox/ca-500.csvX'

In [63]:
try:
    df = pd.read_csv(filename, sep=';')

except FileNotFoundError:
    print('Kan bestand niet vinden!! Look again.')

else:
    print('Bestand geopend.')

Kan bestand niet vinden!! Look again.

In [71]:
def bereken_oppervlakte(breedte, diepte):
    # if breedte < 0 or diepte < 0:
    #     raise ValueError('Argument kan niet negatief zijn!')
    return abs(breedte) * abs(diepte)

In [73]:
try:
    opp = bereken_oppervlakte(2.5, -4)

except ValueError as ex:
    print(ex)

In [74]:
print(opp)

10.0